.title {
  padding-left: 50px;
  padding-bottom: 15px;
}

.product-grid {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 23%;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.product img {
  height: 275px;
  width: 275px;
}

.product h3 {
  margin: 10px 0;
  font-weight: lighter;
  font-size: 15px;
  white-space: nowrap;
}

.product p {
  font-weight: bold;
}



.swiper-container {
  width: 100%;
}



.product:nth-of-type(1) {
}

.product:nth-of-type(2) {
}







  